<mat-card appearance="outlined">
    <mat-card-content>
        <table class="userTable">
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>City</th>
            </tr>
            <tr *ngFor="let user of allUsers" (click)="goToUser(user.customIdName || '')" style="cursor: pointer;">
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.city }}</td>
              </tr>
              
              

        </table>
    </mat-card-content>
  </mat-card>
  

<button (click)="openDialog()" class="addUserButton" matTooltip="Add user" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>
