<mat-card appearance="outlined">
    <mat-card-content>
        <table class="userTable">
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>City</th>
            </tr>
            <tr>
                <td>fasdfsd</td>
                <td>sdfsdf</td>
                <td>sdfsdf</td>
            </tr>
        </table>
    </mat-card-content>
  </mat-card>
  

<button (click)="openDialog()" class="addUserButton" matTooltip="Add user" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>
